// metas
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

// favicon
link(rel="icon" href="assets/img/favicon-32.png" sizes="32x32")

// CSS
link(rel="stylesheet" href="assets/styles/style.min.css")

// fonts
link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
