doctype html
html(lang="en")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Open Source Checklist"
		-var description = "A guide for help you to create a open source project."
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

	body

		// header
		// -----------------------------------------
		header header

		// main
		// -----------------------------------------
		main main


		// footer
		// -----------------------------------------
		footer footer

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
