@charset "UTF-8"

/* Vendors
---------------------------------------------- */
@import "vendors/normalize"
@import "vendors/flex-grid-framework"

/* Colors
---------------------------------------------- */

/* Global
---------------------------------------------- */
body
	font-family 'Roboto', sans-serif
	background-color #fff

/* header
---------------------------------------------- */

/* main
---------------------------------------------- */

/* footer
---------------------------------------------- */
