@charset "UTF-8"

*
  box-sizing border-box

// div,header
// 	border 1px solid #fff

/* Vendors
---------------------------------------------- */
@import "vendors/normalize"

/* Colors
---------------------------------------------- */
highlight_left = #da6709
highlight_right = #c71156
complementary = #4c4c4c

/* Global
---------------------------------------------- */
body
	font-family 'Roboto', sans-serif
	background-color #fff

/* header
---------------------------------------------- */
.header
	text-align center
	background-image linear-gradient(to right, highlight_left, highlight_right)
	padding-bottom 60px

@media screen and (max-width 666px)
	.header
		padding-bottom 50px 0

.lang-bar
	margin 0 auto 60px auto
	text-align left
	width 100%
	max-width 800px
	padding 5px

.lang
	margin 5px
	border 1px solid #fff
	padding 4px
	display inline-block
	color #fff

.lang-bar a
	text-decoration none
	opacity .5
	transition opacity .3s

.lang-bar a:hover
	opacity 1

@media screen and (max-width 666px)
	.lang-bar
		margin-bottom 50px

.heading-1
	margin 10px 20px
	color #fff
	font-size 45px
	font-weight 700
	background-image url("../img/check-icon.svg")
	background-repeat no-repeat
	background-position left center
	display inline-block
	padding-left 100px
	padding-top 30px

@media screen and (max-width 820px)
	.heading-1
		background none
		padding-left 0px

@media screen and (max-width 666px)
	.heading-1
		font-size 38px

.heading-2
	margin 15px 50px
	color #dddddd
	font-size 18px
	font-weight 300

@media screen and (max-width 666px)
	.heading-2
		font-size 16px

.btn-default
	padding 8px 15px
	text-decoration none
	display inline-block
	color #fff
	font-weight 300
	margin 15px 5px
	border 1px solid #fff
	-webkit-transition background-color .3s, color .3s
	transition background-color .3s, color .3s

.btn-default:hover
	background-color #fff
	color highlight_left

.github-buttons
	margin 20px 0

/* main
---------------------------------------------- */
.main
	width 100%
	max-width 700px
	margin 70px auto
	padding 0 15px

.heading-3
	color highlight_left
	font-size 28px
	margin 15px 0

.task-list-container
	margin-top 40px

.task-list
	border 1px solid #ccc
	// padding 10px
	margin 10px 0

.task
	padding 15px
	display flex

.task:nth-child(even)
	background-color #f0f0f0

.task-name
	color #b9b9b9
	margin-left 10px
	font-weight 300

.task-link
	color complementary
	text-decoration none

.task-link:hover
	text-decoration underline

.trick-h3
	color highlight_left

.trick
	border 1px solid #ccc
	padding 10px
	margin 10px 0
	font-weight 300

.trick-link
	color complementary
	text-decoration none

.trick-link:hover
	text-decoration underline

/* footer
---------------------------------------------- */
.footer
	padding 10px 0
	background-image linear-gradient(to right, highlight_left, highlight_right)
	text-align center

.licence
	color #fff
	font-size 16px
	font-weight 300

.licence a
	color #fff
	text-decoration none
	-webkit-transition opacity .3s
	transition opacity .3s

.licence a:hover
	opacity .7
